@font-face {
  font-family: 'brands';
  src:  url('fonts/brands.eot?objl4s');
  src:  url('fonts/brands.eot?objl4s#iefix') format('embedded-opentype'),
    url('fonts/brands.ttf?objl4s') format('truetype'),
    url('fonts/brands.woff?objl4s') format('woff'),
    url('fonts/brands.svg?objl4s#brands') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'brands' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.brand-brand:before {
  content: "\e900";
  color: #0099e5;
}
.brand-brand2:before {
  content: "\e904";
  color: #044a75;
}
.brand-brand3:before {
  content: "\e905";
  color: #0085ca;
}
.brand-brand4:before {
  content: "\e906";
  color: #ff2d55;
}
.brand-brand5:before {
  content: "\e907";
  color: #ff5a5f;
}
.brand-brand6:before {
  content: "\e908";
  color: #f90;
}
.brand-brand7:before {
  content: "\e909";
  color: #2e77bc;
}
.brand-brand8:before {
  content: "\e90a";
  color: #a4c639;
}
.brand-brand9:before {
  content: "\e90b";
  color: #999;
}
.brand-brand10:before {
  content: "\e90c";
}
.brand-brand11:before {
  content: "\e90d";
}
.brand-brand12:before {
  content: "\e90e";
  color: #eb5424;
}
.brand-brand13:before {
  content: "\e90f";
  color: #7d8084;
}
.brand-brand14:before {
  content: "\e910";
  color: #2319dc;
}
.brand-brand15:before {
  content: "\e911";
  color: #408294;
}
.brand-brand16:before {
  content: "\e912";
  color: #6c6;
}
.brand-brand17:before {
  content: "\e913";
  color: #00a3e0;
}
.brand-brand18:before {
  content: "\e914";
  color: #de484a;
}
.brand-brand19:before {
  content: "\e915";
  color: #1769ff;
}
.brand-brand20:before {
  content: "\e916";
}
.brand-brand21:before {
  content: "\e917";
  color: #008373;
}
.brand-brand22:before {
  content: "\e918";
  color: #205081;
}
.brand-brand23:before {
  content: "\e919";
  color: #f7931a;
}
.brand-brand24:before {
  content: "\e91a";
  color: #ee6123;
}
.brand-brand25:before {
  content: "\e91b";
  color: #f38936;
}
.brand-brand26:before {
  content: "\e91c";
  color: #563d7c;
}
.brand-brand27:before {
  content: "\e91d";
  color: #0aa0ff;
}
.brand-brand28:before {
  content: "\e91e";
}
.brand-brand29:before {
  content: "\e91f";
  color: #e32;
}
.brand-brand30:before {
  content: "\e920";
  color: #d33c43;
}
.brand-brand31:before {
  content: "\e921";
  color: #19a9e5;
}
.brand-brand32:before {
  content: "\e922";
}
.brand-brand33:before {
  content: "\e923";
  color: #204056;
}
.brand-brand34:before {
  content: "\e924";
  color: #1f8acb;
}
.brand-brand35:before {
  content: "\e925";
}
.brand-brand36:before {
  content: "\e926";
}
.brand-brand37:before {
  content: "\e927";
  color: #3e8dcc;
}
.brand-brand38:before {
  content: "\e928";
  color: #4cadc0;
}
.brand-brand39:before {
  content: "\e929";
  color: #4574e0;
}
.brand-brand40:before {
  content: "\e92a";
  color: #00aaef;
}
.brand-brand41:before {
  content: "\e92b";
  color: #414959;
}
.brand-brand42:before {
  content: "\e92c";
  color: #00a1cc;
}
.brand-brand43:before {
  content: "\e92d";
  color: #757575;
}
.brand-brand44:before {
  content: "\e92e";
  color: #1572b6;
}
.brand-brand45:before {
  content: "\e92f";
  color: #f43059;
}
.brand-brand46:before {
  content: "\e930";
  color: #0066dc;
}
.brand-brand47:before {
  content: "\e931";
  color: #00c7f2;
}
.brand-brand48:before {
  content: "\e932";
  color: #39f;
}
.brand-brand49:before {
  content: "\e933";
  color: #2d72d9;
}
.brand-brand50:before {
  content: "\e934";
  color: #05cc47;
}
.brand-brand51:before {
  content: "\e935";
}
.brand-brand52:before {
  content: "\e936";
}
.brand-brand53:before {
  content: "\e937";
  color: #0080ff;
}
.brand-brand54:before {
  content: "\e938";
  color: #7289da;
}
.brand-brand55:before {
  content: "\e939";
  color: #ff6000;
}
.brand-brand56:before {
  content: "\e93a";
  color: #2e9fff;
}
.brand-brand57:before {
  content: "\e93b";
  color: #1488c6;
}
.brand-brand58:before {
  content: "\e93c";
  color: #f60;
}
.brand-brand59:before {
  content: "\e93d";
  color: #ea4c89;
}
.brand-brand60:before {
  content: "\e93e";
  color: #007ee5;
}
.brand-brand61:before {
  content: "\e93f";
  color: #0678be;
}
.brand-brand62:before {
  content: "\e940";
  color: #e53238;
}
.brand-brand63:before {
  content: "\e941";
}
.brand-brand64:before {
  content: "\e942";
  color: #72be50;
}
.brand-brand65:before {
  content: "\e943";
}
.brand-brand66:before {
  content: "\e944";
  color: #f45800;
}
.brand-brand67:before {
  content: "\e945";
  color: #f6682f;
}
.brand-brand68:before {
  content: "\e946";
  color: #5ab552;
}
.brand-brand69:before {
  content: "\e947";
  color: #2dbe60;
}
.brand-brand70:before {
  content: "\e948";
  color: #fa4b32;
}
.brand-brand71:before {
  content: "\e949";
  color: #3b5998;
}
.brand-brand72:before {
  content: "\e94a";
  color: #6cc655;
}
.brand-brand73:before {
  content: "\e94b";
  color: #00b0b9;
}
.brand-brand74:before {
  content: "\e94c";
  color: #0063dc;
}
.brand-brand75:before {
  content: "\e94d";
  color: #e12828;
}
.brand-brand76:before {
  content: "\e94e";
  color: #f94877;
}
.brand-brand77:before {
  content: "\e94f";
  color: #060;
}
.brand-brand78:before {
  content: "\e950";
  color: #007cc3;
}
.brand-brand79:before {
  content: "\e951";
  color: #396;
}
.brand-brand80:before {
  content: "\e952";
  color: #8cc63f;
}
.brand-brand81:before {
  content: "\e953";
  color: #467126;
}
.brand-brand82:before {
  content: "\e954";
  color: #718087;
}
.brand-brand83:before {
  content: "\e955";
  color: #f14e32;
}
.brand-brand84:before {
  content: "\e956";
}
.brand-brand85:before {
  content: "\e957";
  color: #e24329;
}
.brand-brand86:before {
  content: "\e958";
  color: #ff0064;
}
.brand-brand87:before {
  content: "\e959";
  color: #7cb228;
}
.brand-brand88:before {
  content: "\e95a";
  color: #d14836;
}
.brand-brand89:before {
  content: "\e95b";
  color: #fbbf00;
}
.brand-brand90:before {
  content: "\e95c";
  color: #630;
}
.brand-brand91:before {
  content: "\e95d";
  color: #4285f4;
}
.brand-brand92:before {
  content: "\e95e";
  color: #ffc107;
}
.brand-brand93:before {
  content: "\e95f";
  color: #4386fc;
}
.brand-brand94:before {
  content: "\e960";
  color: #0c9d58;
}
.brand-brand95:before {
  content: "\e961";
  color: #607d8b;
}
.brand-brand96:before {
  content: "\e962";
  color: #dc4e41;
}
.brand-brand97:before {
  content: "\e963";
  color: #005ea5;
}
.brand-brand98:before {
  content: "\e964";
  color: #630;
}
.brand-brand99:before {
  content: "\e965";
}
.brand-brand100:before {
  content: "\e966";
  color: #1e8cbe;
}
.brand-brand101:before {
  content: "\e967";
  color: #da4648;
}
.brand-brand102:before {
  content: "\e968";
  color: #72ef36;
}
.brand-brand103:before {
  content: "\e969";
  color: #2ec866;
}
.brand-brand104:before {
  content: "\e96a";
  color: #1bacf7;
}
.brand-brand105:before {
  content: "\e96b";
  color: #00a4de;
}
.brand-brand106:before {
  content: "\e96c";
  color: #430098;
}
.brand-brand107:before {
  content: "\e96d";
  color: #205281;
}
.brand-brand108:before {
  content: "\e96e";
}
.brand-brand109:before {
  content: "\e96f";
  color: #7ac142;
}
.brand-brand110:before {
  content: "\e970";
  color: #e34f26;
}
.brand-brand111:before {
  content: "\e971";
  color: #6a3;
}
.brand-brand112:before {
  content: "\e972";
  color: #0071ce;
}
.brand-brand113:before {
  content: "\e973";
  color: #e6b91e;
}
.brand-brand114:before {
  content: "\e974";
  color: #43b02a;
}
.brand-brand115:before {
  content: "\e975";
  color: #e4405f;
}
.brand-brand116:before {
  content: "\e976";
}
.brand-brand117:before {
  content: "\e977";
  color: #1f8ded;
}
.brand-brand118:before {
  content: "\e978";
  color: #f36;
}
.brand-brand119:before {
  content: "\e979";
  color: #f7df1e;
}
.brand-brand120:before {
  content: "\e97a";
  color: #c00;
}
.brand-brand121:before {
  content: "\e97b";
  color: #d24939;
}
.brand-brand122:before {
  content: "\e97c";
}
.brand-brand123:before {
  content: "\e97d";
  color: #5091cd;
}
.brand-brand124:before {
  content: "\e97e";
  color: #4679a4;
}
.brand-brand125:before {
  content: "\e97f";
}
.brand-brand126:before {
  content: "\e980";
  color: #ad29b6;
}
.brand-brand127:before {
  content: "\e981";
  color: #20beff;
}
.brand-brand128:before {
  content: "\e982";
  color: #9db63b;
}
.brand-brand129:before {
  content: "\e983";
  color: #2bde73;
}
.brand-brand130:before {
  content: "\e984";
  color: #82bc23;
}
.brand-brand131:before {
  content: "\e985";
  color: #ff0100;
}
.brand-brand132:before {
  content: "\e986";
  color: #e44600;
}
.brand-brand133:before {
  content: "\e987";
  color: #00b057;
}
.brand-brand134:before {
  content: "\e988";
  color: #3c80ca;
}
.brand-brand135:before {
  content: "\e989";
  color: #e74430;
}
.brand-brand136:before {
  content: "\e98a";
  color: #d51007;
}
.brand-brand137:before {
  content: "\e98b";
  color: #f8c300;
}
.brand-brand138:before {
  content: "\e98c";
  color: #00c300;
}
.brand-brand139:before {
  content: "\e98d";
}
.brand-brand140:before {
  content: "\e98e";
  color: #009bee;
}
.brand-brand141:before {
  content: "\e98f";
  color: #00b0ea;
}
.brand-brand142:before {
  content: "\e990";
  color: #cf202e;
}
.brand-brand143:before {
  content: "\e991";
  color: #e11a2b;
}
.brand-brand144:before {
  content: "\e992";
  color: #ee672f;
}
.brand-brand145:before {
  content: "\e993";
  color: #2c9ab7;
}
.brand-brand146:before {
  content: "\e994";
  color: #ff1e0d;
}
.brand-brand147:before {
  content: "\e995";
  color: #eb001b;
}
.brand-brand148:before {
  content: "\e996";
}
.brand-brand149:before {
  content: "\e997";
}
.brand-brand150:before {
  content: "\e998";
  color: #00ab6b;
}
.brand-brand151:before {
  content: "\e999";
  color: #e2373c;
}
.brand-brand152:before {
  content: "\e99a";
  color: #0084ff;
}
.brand-brand153:before {
  content: "\e99b";
  color: #f00;
}
.brand-brand154:before {
  content: "\e99c";
  color: #666;
}
.brand-brand155:before {
  content: "\e99d";
  color: #ba141a;
}
.brand-brand156:before {
  content: "\e99e";
  color: #217346;
}
.brand-brand157:before {
  content: "\e99f";
  color: #80397b;
}
.brand-brand158:before {
  content: "\e9a0";
  color: #0072c6;
}
.brand-brand159:before {
  content: "\e9a1";
  color: #d24726;
}
.brand-brand160:before {
  content: "\e9a2";
  color: #2b579a;
}
.brand-brand161:before {
  content: "\e9a3";
  color: #62b74a;
}
.brand-brand162:before {
  content: "\e9a4";
  color: #3abfe6;
}
.brand-brand163:before {
  content: "\e9a5";
  color: #314359;
}
.brand-brand164:before {
  content: "\e9a6";
  color: #f60;
}
.brand-brand165:before {
  content: "\e9a7";
  color: #ffc619;
}
.brand-brand166:before {
  content: "\e9a8";
  color: #fdb22a;
}
.brand-brand167:before {
  content: "\e9a9";
  color: #00945e;
}
.brand-brand168:before {
  content: "\e9aa";
}
.brand-brand169:before {
  content: "\e9ab";
  color: #e50914;
}
.brand-brand170:before {
  content: "\e9ac";
  color: #8f8f8f;
}
.brand-brand171:before {
  content: "\e9ad";
}
.brand-brand172:before {
  content: "\e9ae";
}
.brand-brand173:before {
  content: "\e9af";
  color: #f4731c;
}
.brand-brand174:before {
  content: "\e9b0";
  color: #094ab2;
}
.brand-brand175:before {
  content: "\e9b1";
  color: #ff1b2d;
}
.brand-brand176:before {
  content: "\e9b2";
  color: #f56c2d;
}
.brand-brand177:before {
  content: "\e9b3";
  color: #fc7e0f;
}
.brand-brand178:before {
  content: "\e9b4";
  color: #123f6d;
}
.brand-brand179:before {
  content: "\e9b5";
}
.brand-brand180:before {
  content: "\e9b6";
  color: #e6461a;
}
.brand-brand181:before {
  content: "\e9b7";
  color: #00457c;
}
.brand-brand182:before {
  content: "\e9b8";
  color: #40a4c4;
}
.brand-brand183:before {
  content: "\e9b9";
}
.brand-brand184:before {
  content: "\e9ba";
  color: #fff000;
}
.brand-brand185:before {
  content: "\e9bb";
  color: #00b1ab;
}
.brand-brand186:before {
  content: "\e9bc";
  color: #bd081c;
}
.brand-brand187:before {
  content: "\e9bd";
  color: #0085de;
}
.brand-brand188:before {
  content: "\e9be";
  color: #c0379a;
}
.brand-brand189:before {
  content: "\e9bf";
  color: #039;
}
.brand-brand190:before {
  content: "\e9c0";
  color: #e9443d;
}
.brand-brand191:before {
  content: "\e9c1";
  color: #ef3f56;
}
.brand-brand192:before {
  content: "\e9c2";
  color: #93c;
}
.brand-brand193:before {
  content: "\e9c3";
  color: #ef145f;
}
.brand-brand194:before {
  content: "\e9c4";
  color: #da552f;
}
.brand-brand195:before {
  content: "\e9c5";
  color: #34a7c1;
}
.brand-brand196:before {
  content: "\e9c6";
  color: #9497ce;
}
.brand-brand197:before {
  content: "\e9c7";
  color: #c50000;
}
.brand-brand198:before {
  content: "\e9c8";
  color: #b92b27;
}
.brand-brand199:before {
  content: "\e9c9";
  color: #c7053d;
}
.brand-brand200:before {
  content: "\e9ca";
  color: #008fd5;
}
.brand-brand201:before {
  content: "\e9cb";
  color: #00d8ff;
}
.brand-brand202:before {
  content: "\e9cc";
  color: #900;
}
.brand-brand203:before {
  content: "\e9cd";
  color: #8ca1af;
}
.brand-brand204:before {
  content: "\e9ce";
  color: #ff4500;
}
.brand-brand205:before {
  content: "\e9cf";
  color: #e43526;
}
.brand-brand206:before {
  content: "\e9d0";
  color: #ffa500;
}
.brand-brand207:before {
  content: "\e9d1";
  color: #cc342d;
}
.brand-brand208:before {
  content: "\e9d2";
  color: #2dc9d7;
}
.brand-brand209:before {
  content: "\e9d3";
  color: #c69;
}
.brand-brand210:before {
  content: "\e9d4";
  color: #ec4047;
}
.brand-brand211:before {
  content: "\e9d5";
  color: #1a7bba;
}
.brand-brand212:before {
  content: "\e9d6";
  color: #0089cf;
}
.brand-brand213:before {
  content: "\e9d7";
  color: #21b352;
}
.brand-brand214:before {
  content: "\e9d8";
}
.brand-brand215:before {
  content: "\e9d9";
  color: #fb4226;
}
.brand-brand216:before {
  content: "\e9da";
  color: #e7282d;
}
.brand-brand217:before {
  content: "\e9db";
  color: #7ab55c;
}
.brand-brand218:before {
  content: "\e9dc";
}
.brand-brand219:before {
  content: "\e9dd";
  color: #e6162d;
}
.brand-brand220:before {
  content: "\e9de";
  color: #258aaf;
}
.brand-brand221:before {
  content: "\e9df";
  color: #2fcea0;
}
.brand-brand222:before {
  content: "\e9e0";
  color: #00aff0;
}
.brand-brand223:before {
  content: "\e9e1";
  color: #56b68b;
}
.brand-brand224:before {
  content: "\e9e2";
  color: #026664;
}
.brand-brand225:before {
  content: "\e9e3";
  color: #e4637c;
}
.brand-brand226:before {
  content: "\e9e4";
  color: #e85c33;
}
.brand-brand227:before {
  content: "\e9e5";
  color: #fffc00;
}
.brand-brand228:before {
  content: "\e9e6";
  color: #f80046;
}
.brand-brand229:before {
  content: "\e9e7";
  color: #f30;
}
.brand-brand230:before {
  content: "\e9e8";
  color: #fa6423;
}
.brand-brand231:before {
  content: "\e9e9";
  color: #396;
}
.brand-brand232:before {
  content: "\e9ea";
  color: #1ed760;
}
.brand-brand233:before {
  content: "\e9eb";
  color: #352a71;
}
.brand-brand234:before {
  content: "\e9ec";
  color: #f5c300;
}
.brand-brand235:before {
  content: "\e9ed";
}
.brand-brand236:before {
  content: "\e9ee";
  color: #1e5397;
}
.brand-brand237:before {
  content: "\e9ef";
}
.brand-brand238:before {
  content: "\e9f0";
}
.brand-brand239:before {
  content: "\e9f1";
}
.brand-brand240:before {
  content: "\e9f2";
  color: #4ba2f2;
}
.brand-brand241:before {
  content: "\e9f3";
}
.brand-brand242:before {
  content: "\e9f4";
  color: #3a98d9;
}
.brand-brand243:before {
  content: "\e9f5";
  color: #008cdd;
}
.brand-brand244:before {
  content: "\e9f6";
  color: #003168;
}
.brand-brand245:before {
  content: "\e9f7";
  color: #eb4924;
}
.brand-brand246:before {
  content: "\e9f8";
}
.brand-brand247:before {
  content: "\e9f9";
  color: #809cc9;
}
.brand-brand248:before {
  content: "\e9fa";
  color: #2eace3;
}
.brand-brand249:before {
  content: "\e9fb";
  color: #fbb631;
}
.brand-brand250:before {
  content: "\e9fc";
  color: #e62b1e;
}
.brand-brand251:before {
  content: "\e9fd";
  color: #39ace6;
}
.brand-brand252:before {
  content: "\e9fe";
  color: #2ca5e0;
}
.brand-brand253:before {
  content: "\e9ff";
  color: #12b7f5;
}
.brand-brand254:before {
  content: "\ea00";
  color: #c00;
}
.brand-brand255:before {
  content: "\ea01";
  color: #ff6b6b;
}
.brand-brand256:before {
  content: "\ea02";
  color: #c5000b;
}
.brand-brand257:before {
  content: "\ea03";
  color: #29a8e0;
}
.brand-brand258:before {
  content: "\ea04";
  color: #3863a0;
}
.brand-brand259:before {
  content: "\ea05";
  color: #ed1c24;
}
.brand-brand260:before {
  content: "\ea06";
  color: #39a85b;
}
.brand-brand261:before {
  content: "\ea07";
  color: #5fcf80;
}
.brand-brand262:before {
  content: "\ea08";
  color: #0079bf;
}
.brand-brand263:before {
  content: "\ea09";
  color: #589442;
}
.brand-brand264:before {
  content: "\ea0a";
  color: #53b50a;
}
.brand-brand265:before {
  content: "\ea0b";
  color: #36465d;
}
.brand-brand266:before {
  content: "\ea0c";
  color: #f22f46;
}
.brand-brand267:before {
  content: "\ea0d";
  color: #6441a5;
}
.brand-brand268:before {
  content: "\ea0e";
  color: #1da1f2;
}
.brand-brand269:before {
  content: "\ea0f";
  color: #ff7102;
}
.brand-brand270:before {
  content: "\ea10";
}
.brand-brand271:before {
  content: "\ea11";
  color: #dd4814;
}
.brand-brand272:before {
  content: "\ea12";
  color: #01b3e3;
}
.brand-brand273:before {
  content: "\ea13";
  color: #2396f3;
}
.brand-brand274:before {
  content: "\ea14";
  color: #6fda44;
}
.brand-brand275:before {
  content: "\ea15";
  color: #f88d2d;
}
.brand-brand276:before {
  content: "\ea16";
  color: #7c529e;
}
.brand-brand277:before {
  content: "\ea17";
  color: #1ab7ea;
}
.brand-brand278:before {
  content: "\ea18";
  color: #11b48a;
}
.brand-brand279:before {
  content: "\ea19";
  color: #0093da;
}
.brand-brand280:before {
  content: "\ea1a";
  color: #142787;
}
.brand-brand281:before {
  content: "\ea1b";
  color: #6383a8;
}
.brand-brand282:before {
  content: "\ea1c";
  color: #4fc08d;
}
.brand-brand283:before {
  content: "\ea1d";
  color: #7bb32e;
}
.brand-brand284:before {
  content: "\ea1e";
  color: #25d366;
}
.brand-brand285:before {
  content: "\ea1f";
}
.brand-brand286:before {
  content: "\ea20";
  color: #0078d6;
}
.brand-brand287:before {
  content: "\ea21";
}
.brand-brand288:before {
  content: "\ea22";
  color: #ffc233;
}
.brand-brand289:before {
  content: "\ea23";
  color: #21759b;
}
.brand-brand290:before {
  content: "\ea24";
  color: #107c10;
}
.brand-brand291:before {
  content: "\ea25";
  color: #13b5ea;
}
.brand-brand292:before {
  content: "\ea26";
  color: #005a5f;
}
.brand-brand293:before {
  content: "\ea27";
  color: #409;
}
.brand-brand294:before {
  content: "\ea28";
  color: #0072c6;
}
.brand-brand295:before {
  content: "\ea29";
  color: #f0652f;
}
.brand-brand296:before {
  content: "\ea2a";
  color: #c41200;
}
.brand-brand297:before {
  content: "\ea2b";
  color: #cd201f;
}
.brand-brand298:before {
  content: "\ea2c";
  color: #ff4a00;
}
.brand-brand299:before {
  content: "\ea32";
}
.brand-brand300:before {
  content: "\ea33";
}
.brand-brand301:before {
  content: "\ea34";
  color: #0074e4;
}
.brand-brand302 .path1:before {
  content: "\e901";
  color: rgb(83, 130, 161);
}
.brand-brand302 .path2:before {
  content: "\e902";
  margin-left: -0.7890625em;
  color: rgb(83, 130, 161);
}
.brand-brand302 .path3:before {
  content: "\e903";
  margin-left: -0.7890625em;
  color: rgb(248, 152, 29);
}
.brand-brand302 .path4:before {
  content: "\ea2d";
  margin-left: -0.7890625em;
  color: rgb(83, 130, 161);
}
.brand-brand302 .path5:before {
  content: "\ea2e";
  margin-left: -0.7890625em;
  color: rgb(83, 130, 161);
}
.brand-brand302 .path6:before {
  content: "\ea2f";
  margin-left: -0.7890625em;
  color: rgb(83, 130, 161);
}
.brand-brand302 .path7:before {
  content: "\ea30";
  margin-left: -0.7890625em;
  color: rgb(248, 152, 29);
}
.brand-brand302 .path8:before {
  content: "\ea31";
  margin-left: -0.7890625em;
  color: rgb(83, 130, 161);
}
.brand-brand303:before {
  content: "\ea35";
}
