$sidebar-width: 35%;
$padding: 50px;
.name {
    font-family: $font-name;
    color: white;
}


body .nav-list>.active>a {
    background-color: $background-color;
    padding: 7px;
}

body .nav-list>.active>a:hover {
    background-color: $primary-color;
}

body .nav a:hover {
    padding: 7px;
    background-color: $background-color;
}

body .nav a {
    border-radius: 2px 0px 0px 2px;
}


.sidebar {
    position: fixed;
    width: $sidebar-width;
    height: 100%;
    color: lighten($primary-color, 30%); //padding-right: $padding;
    font-size: 15px;
    #side-nav {
        margin-right: -$padding;
        i {
            margin-right: $padding;
        }
    }
    background: radial-gradient(circle at bottom, #1B2735 0%, #090A0F 100%);
}

@media only screen and (min-width: 890px) {
    .info {
        padding-right: $padding;
    }
}

.content {
    margin-left: $sidebar-width;
    height: 100%;
    width: auto;
    overflow: hidden;
    z-index: 1;
    padding: $padding;
}

// Overwrite border radius of bootstrap
.nav-pills .nav-link {
    border-radius: 0;
}

@import 'stars';
@import 'socialMedia';