doctype html
html(lang='en')
  head
    link(href='data:image/x-icon;base64,AAABAAEAEBAAAAEAIABoBAAAFgAAACgAAAAQAAAAIAAAAAEAIAAAAAAAAAQAAMEOAADBDgAAAAAA\
    AAAAAAD6+vr/+vr6//r6+v/6+vr/+vr6//r6+v/6+vr/+vr6//r6+v/6+vr/+vr6//r6+v/6+vr/\
    +vr6//r6+v/6+vr/+vr6//r6+v/6+vr/9/f3//f39//4+Pj/+vr6//r6+v/6+vr/9/f3//j4+P/4\
    +Pj/+Pj4//f39//4+Pj/+vr6//r6+v/6+vr/+fn5//////////////////v7+//5+fn/+/v7////\
    /////////////////////////f39//r6+v/6+vr/+/v7//r6+v+zs7P/nZ2d/7y8vP/z8/P//v7+\
    //Dw8P+6urr/0tLS/83Nzf/Q0ND/sbGx/9bW1v//////9/f3//////9wcHD/fX19/+zs7P/S0tL/\
    uLi4//r6+v/+/v7/Ojo6/5eXl//y8vL/6enp/5SUlP+JiYn////////////k5OT/KCgo/+np6f//\
    /////////83Nzf/d3d3//////8nJyf82Njb/9vb2///////y8vL/xMTE////////////zs7O/y8v\
    L//19fX/+fn5//7+/v/f39//29vb//39/f//////cHBw/3Fxcf//////8/Pz//Pz8//6+vr/////\
    /8rKyv8sLCz/+Pj4//r6+v//////4uLi/93d3f//////+vr6//Pz8/8zMzP/y8vL///////5+fn/\
    +vr6///////Kysr/Kysr//f39//6+vr//////+Li4v/c3Nz///////f39///////qqqq/0VFRf//\
    ////+Pj4//r6+v//////ycnJ/y0tLf/39/f/+vr6//7+/v/i4uL/3t7e//n5+f/k5OT/+Pj4////\
    //9TU1P/k5OT///////29vb//////8zMzP8pKSn/+/v7//r6+v//////4eHh/9/f3//09PT/n5+f\
    ////////////4eHh/zIyMv/h4eH///////7+/v+hoaH/MTEx/8XFxf/+/v7//Pz8/5aWlv+VlZX/\
    +/v7/2BgYP+qqqr/zMzM/9vb2/9vb2//ioqK///////4+Pj/8fHx//r6+v/w8PD/+/v7//j4+P/w\
    8PD/8PDw//j4+P/5+fn/7Ozs/+3t7f/q6ur/9/f3//j4+P/5+fn/+/v7//z8/P/6+vr//f39//r6\
    +v/7+/v//f39//39/f/6+vr/+/v7//7+/v/9/f3//v7+//v7+//7+/v/+vr6//r6+v/6+vr/+vr6\
    //r6+v/6+vr/+vr6//r6+v/6+vr/+vr6//r6+v/6+vr/+vr6//r6+v/6+vr/+vr6//r6+v/6+vr/\
    +vr6//r6+v/6+vr/+vr6//r6+v/6+vr/+vr6//r6+v/6+vr/+vr6//r6+v/6+vr/+vr6//r6+v/6\
    +vr/AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\
    AAAAAAAAAAAAAA==', rel='icon', type='image/x-icon')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    title Umer Zahoor

  body.animated.fadeIn(data-spy="scroll" data-target=".navbar" data-offset="50")

    .sidebar
      include sideBar.pug
    .content(id=data.sections[0].title.shortName)
      include techSkills.pug
      br
      include exp.pug
      br
      include edu.pug
    link(rel='stylesheet', href='css/styles.css')
    //- script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js')
    //- script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')

    //- .article-wrap
    //-   .article-content
    //-     include techSkills.pug
    //-     include exp.pug
    //-     include edu.pug
    //- .sidebar
    //-   include sideBar.pug

    //- .container-fluid
    //-   .row
    //-     .col-sm-5
    //-       nav.navbar.navbar-default.navbar-fixed-side
    //-         include sideBar.pug
    //-     .col-sm--7
    //-       include techSkills.pug
    //-       include exp.pug
    //-       include edu.pug

    //- .sidebar
    //-   include sideBar.pug
    //- .content
    //-   include techSkills.pug
    //-   include exp.pug
    //-   include edu.pug
